# Firebase Configuration (sensitive data)
FIREBASE_API_KEY=AIzaSyClloQaQp2tJ-fgnqdADv42xKIfaZ2DwEQ
FIREBASE_AUTH_DOMAIN=zadaka.firebaseapp.com
FIREBASE_PROJECT_ID=zadaka
FIREBASE_STORAGE_BUCKET=zadaka.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=780777564213
FIREBASE_APP_ID=1:780777564213:web:439785a8262b6eaf96297c
FIREBASE_MEASUREMENT_ID=G-1YT9M46B5D

# DeepSeek API
DEEPSEEK_API_KEY=8d6033c37f1d957f9c59e28eb13cea3e
DEEPSEEK_API_URL=https://arizona-ai.ru/api/v1/chat/completions
